aiohappyeyeballs @ file:///C:/b/abs_e9fm5mk6ak/croot/aiohappyeyeballs_1734469429350/work
aiohttp @ file:///C:/b/abs_d4_gdjffav/croot/aiohttp_1734687146788/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
certifi @ file:///C:/b/abs_8a944p1_gn/croot/certifi_1738623753421/work/certifi
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1742320986862/work
dill @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/dill_1729047982235/work
filelock @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/filelock_1729048196920/work
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
frozenlist @ file:///C:/b/abs_06ctmb1zeo/croot/frozenlist_1730903113463/work
fsspec @ file:///C:/Users/dev-admin/buildout/croot/fsspec_1739559799693/work
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
huggingface_hub @ file:///C:/b/abs_8eylq5t1is/croot/huggingface_hub_1741284137805/work
idna @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/idna_1729038997316/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/joblib_1729044354027/work
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.1
mpmath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mpmath_1729048934933/work
multidict @ file:///C:/b/abs_19e3ubo2ew/croot/multidict_1730905504444/work
multiprocess @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/multiprocess_1729055126328/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
numpy @ file:///D:/bld/numpy_1742254804988/work/dist/numpy-2.2.4-cp313-cp313-win_amd64.whl#sha256=bf109dc927e3f12000bd0992c55e6276c6e6dbd6e95ca35dd3bddb21975a442b
optree @ file:///C:/b/abs_bci6vc6cm2/croot/optree_1742210211336/work
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
pandas @ file:///D:/bld/pandas_1726878597308/work
patsy @ file:///C:/b/abs_f9h0eiedk0/croot/patsy_1738159949276/work
pillow @ file:///D:/bld/pillow_1735929727881/work
propcache @ file:///C:/b/abs_d6o8xbonwb/croot/propcache_1732304003668/work
pyarrow==19.0.1
pybind11 @ file:///C:/b/abs_288w2xa_33/croot/pybind11-split_1738946396616/work
pybind11_global @ file:///C:/b/abs_288w2xa_33/croot/pybind11-split_1738946396616/work
pyparsing @ file:///C:/Users/dev-admin/buildout/croot/pyparsing_1735861809022/work
PySide6==6.8.2
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1729039320841/work
python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
pytz @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pytz_1729039375330/work
PyYAML @ file:///C:/b/abs_79lqlbkifj/croot/pyyaml_1731006239057/work
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
scikit-learn @ file:///D:/bld/scikit-learn_1736496760019/work/dist/scikit_learn-1.6.1-cp313-cp313-win_amd64.whl#sha256=5840b0a8e474fa5b609d62199da38a78acb67fa1f3a7164e8c54af5d7214135b
scipy @ file:///C:/bld/scipy-split_1739790791396/work/dist/scipy-1.15.2-cp313-cp313-win_amd64.whl#sha256=7881621bfd838a21b8396c8b48e95879e329eabe3e8bfb6aa94a3132a6eb6347
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
setuptools==75.8.0
shiboken6==6.8.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
statsmodels @ file:///C:/b/abs_c797jbabmm/croot/statsmodels_1734018887218/work
sympy @ file:///C:/b/abs_b4u17p23yg/croot/sympy_1738108511395/work
threadpoolctl @ file:///C:/b/abs_3904pspv77/croot/threadpoolctl_1731006105881/work
torch @ file:///C:/bld/libtorch_1742909039791/work
tornado @ file:///C:/Users/dev-admin/buildout/croot/tornado_1735843426044/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
wheel==0.45.1
win_inet_pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1729038644686/work
xxhash @ file:///C:/b/abs_1aigrqyxpu/croot/python-xxhash_1737042790218/work
yarl @ file:///C:/b/abs_281qby2vim/croot/yarl_1732546854547/work
